h1 {
    padding-block-start: 10px;
    background-color: salmon;
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;;
}

body {
    margin: -50px;
    text-align: center;
    font-weight: bold;
}

.ingredients-instructions {
    text-align: left;
    font-size: larger;
    margin: 60px;
}